


.container a{
	color: #000000;
	text-decoration: none;
	font-size:18px;
	

}

.hamb{

	width: 25px;
	height: 25px;
}



#nft {
	

	background-color: white;
	border-radius: 15px;
	padding: 6px 15px;
	margin: 1px 1px;


}



.container{

			display: flex;
			border-bottom: 2px solid #dfdfdf;
			padding-left: 10%;
		    padding-right: 10%;
		    position: relative;
		    font-family: Tahoma, sans-serif;
			gap:  2%;
			align-items: center ;



		}

.logo {

	padding-right: 120em; /* in procente nu functioneaza, margin-left: auto nu functioneaza*/
}





.gridtitle {

			display: flex;
			font-family: Tahoma, sans-serif;
			padding-left: 10%;
		 	padding-right: 10%;
		 	justify-content: space-between;
		 	align-items: center;
		 	

		   }







.b{

	color: black;
}

/*@media (max-width: 100px) */

.grid {
          display: grid;
          grid-auto-rows: minmax(275px, auto);

          padding-left: 10%;
		  padding-right: 10%;
		  font-family: Tahoma, sans-serif;
		  grid-template-columns: 20% 20% 20% 20% 20%;
		  gap: 1%;
		  
		  
		  
	}




.grid > div {

	padding-top: 10px;

}


.backg {
	display: grid;
	box-sizing: border-box;
	background-color: #c6c6c6;
	border-radius: 10px;
	padding-left: 17%;
   
}



.tabletitle {


			font-family: Tahoma, sans-serif;
			padding-left: 10%;
		 	padding-right: 10%;
		 	
}

.tableflex {
			display: flex;
			font-family: Tahoma, sans-serif;
			padding-left: 10%;
		 	padding-right: 10%;




}

.texttoday {

	padding-right: 3%;
	text-decoration-line: underline; 

}

.searchimg {

	width: 33px;
	height: 20px;
}

.search {

	display: flex;
	margin-left: auto;
	align-items: center;
	border-radius: 25px;
  	border: 2px solid grey;
  	padding: 6px 15px;
	
  	

}

.searchtext {

	border: none;
}

.table{
			font-family: Tahoma, sans-serif;
			padding-left: 10%;
		 	padding-right: 10%;
		 	text-align: center;



}

.buttontable{
 	
 	font-size:18px;
	background-color: #4d4d4d;
	padding: 10px 15px;
	margin: 2px 2px;
	border-radius: 40px;
	color: white;

}

.mutantcats {

	padding-top: 5px;
}


.table tr:nth-child(odd) {
  background-color: #c6c6c6;
}


.table tr:nth-child(1) {
  background-color: #f2f2f2;
}


.footer {

	background-color:#4d4d4d ;
	padding-left: 10%;
	padding-right: 10%;

}

.container1 {

	display: flex;
	font-family: Tahoma, sans-serif;
	padding: 10px;
	align-items: center;
	gap: 3%;
	
	
}

#footer1 {

	color: white;
	

}

.logo2 {
	color: white;
	margin-right: auto;

}

.container2 {

	display: flex;
	font-family: Tahoma, sans-serif;
	padding: 10px;
	align-items: center;
	
	gap: 1%;


}
.footertext1{

	color: white;

}

.footertext2 {

	color: white;
	margin-left: 35%;
}

